<% content_for :top do %>
  <%= render 'layouts/map' %>
<% end %>

<% content_for :left do %>
  <h1>A list of stories goes here, in order of user votes</h1>

  <% @stories.each do |story| %>
    <%= link_to story.title, story_path(story) %>
    <br />
  <% end %>
  
  <h1>Some Popular Places</h1>
  
  <% @places.each do |place| %>
    <%= link_to_function place.name, "panMapTo(#{place.lat}, #{place.lng});" %>
    <br />
  <% end %>
  
<% end %>

<div class="grid_3 push_3 newstorybutton">
  <%= link_to "Tell Your Story!", new_story_path, :class => "bigwhitelink" %>
</div>

