


<% content_for :header do %>
  <span class="logo colorblue">INSERT LOGO HERE</span>
<% end %>

<% content_for :top do %>
  <%= render 'layouts/map' %>
<% end %>

<% content_for :left do %>
  <h1>A list of stories goes here, in order of user votes</h1>

  <% @places.each do |place| %>
    <% @stories.each do |story| %>
      <%= link_to story.title, place_story_path(:place_id => place.id, :id => story.id) %><br>
    <% end %>
  <% end %>
  
<% end %>

<% content_for :right do %>
  <div class="grid_3 push_3 newstorybutton">
    <%= link_to "Tell Your Story!", new_place_path, :class => "bigwhitelink" %>
  </div>
    
<% end %>
